{% extends 'base.html.twig' %}

{% block title %}
	Projet Immo | Societes
{% endblock %}

{% block body %}
	<section class="section-societe" >
		<h1 class="text-center">Societes</h1>
		<div class="row">
			<div id="toolbarSociete" style="display:none">
				<button class="btn btn-light me-2" type="button">
					<a href="{{ path('societe_new') }}">
						<i class="bi bi-file-earmark-plus"></i>
					</a>
				</button>
				<button id="advancedSearchImmeuble" class="btn btn-light me-2">
					<a href="{{ path('societe_search') }}" class="text-decoration-none">
						<i class="fa-brands fa-searchengin"></i>
						Recherche Avancée</a>
				</button>
				<div class="form-horizontal float-right  me-2">
				<select class="form-control mr-2">
					<option value="">Export Basique</option>
					<option value="all">Exporter Tout</option>
					<option value="selected">Exporter Séléctionnés</option>
				</select>
				</div>
			</div>
			<script>
setTimeout(() => {
  const box = document.getElementById('toolbarSociete');
  box.style.display = 'block';

}, 400);
			</script>
			<table id="tableSociete" data-pagination="true" data-toolbar="#toolbarSociete" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">

				<thead>
					<tr>
						<th data-sortable="true" data-field="id">ID Societe</th>
						<th data-sortable="true" data-field="etatDossier">Etat</th>
						<th data-sortable="true" data-field="jal">JAL</th>
						<th data-sortable="true" data-field="vrs">Raison Sociale du Vendeur</th>
						<th data-sortable="true" data-field="ars">Raison Sociale de l'Acheteur</th>
						<th data-field="action">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for societe in societes %}
						<tr class='clickable-row' data-href="{{ path('societe_show', {'IDSociete': societe.IDSociete}) }}">
							<td>{{ societe.IDSociete }}</td>
							{% if societe.EtatDossier == "" %}
								<td>✖️</td>
							{% else %}
								<td>{{ societe.EtatDossier }}</td>
							{% endif %}
							<td>{{ societe.NumJAL }}</td>
							<td>{{ societe.VendeurRaisonSociale }}</td>
							<td>{{ societe.AcheteurRaisonSociale }}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('societe_show', {'IDSociete': societe.IDSociete}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('societe_edit', {'IDSociete': societe.IDSociete}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('societe_delete', {'IDSociete': societe.IDSociete}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="43">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>

	</section>
{% endblock %}
