{% extends 'base.html.twig' %}

{% block title %}Gestion des Immeubles | Recherche Société
{% endblock %}

{% block body %}
	<div class="row">
		{% include 'shared/_formsearchSociete.html.twig' with {form: form} %}
	</div>
	<div class="row mt-5">
		<table id="tableSociete" data-pagination="true" data-toolbar="#toolbarSociete" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">
			<thead>
				<tr>
					<th data-sortable="true" data-field="id">ID</th>
					<th data-sortable="true" data-field="etatDossier">État</th>
					<th data-sortable="true" data-field="jal">JAL</th>
					<th data-sortable="true" data-field="vrs">Raison Sociale du vendeur</th>
					<th data-sortable="true" data-field="vcp">CP du vendeur</th>
					<th data-sortable="true" data-field="ars">Raison Sociale de l'acheteur</th>
					<th data-sortable="true" data-field="acp">CP de l'acheteur</th>
					<th data-field="action">actions</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for societe in societes %}
					<tr>
						<td>{{ societe.IDSociete }}</td>
						{% if societe.EtatDossier == "" %}
							<td>✖️</td>
						{% else %}
							<td>{{ societe.EtatDossier }}</td>
						{% endif %}
						<td>{{ societe.NumJAL }}</td>
						<td>{{ societe.VendeurRaisonSociale }}</td>
						<td>{{ societe.VendeurCP }}</td>
						<td>{{ societe.AcheteurRaisonSociale }}</td>
						<td>{{ societe.AcheteurCP }}</td>
						<td>
							<a class="text-decoration-underline-remove" href="{{ path('societe_show', {'IDSociete': societe.IDSociete}) }}">
								<i class="bi bi-eye" style="margin-right:15px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('societe_edit', {'IDSociete': societe.IDSociete}) }}">
								<i class="bi bi-pen" style="margin-right:10px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('societe_delete', {'IDSociete': societe.IDSociete}) }}">
								<i class="bi bi-trash3"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
				{% for contact in contacts %}
					<tr>
						<td>{{ contact.IDSociete.IDSociete }}</td>
						{% if contact.IDSociete.EtatDossier == "" %}
							<td>✖️</td>
						{% else %}
							<td>{{ contact.IDSociete.EtatDossier }}</td>
						{% endif %}
						<td>{{ contact.IDSociete.NumJAL }}</td>
						<td>{{ contact.IDSociete.VendeurRaisonSociale }}</td>
						<td>{{ contact.IDSociete.VendeurCP }}</td>
						<td>{{ contact.IDSociete.AcheteurRaisonSociale }}</td>
						<td>{{ contact.IDSociete.AcheteurCP }}</td>
						<td>
							<a class="text-decoration-underline-remove" href="{{ path('societe_show', {'IDSociete': contact.IDSociete.IDSociete}) }}">
								<i class="bi bi-eye" style="margin-right:15px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('societe_edit', {'IDSociete': contact.IDSociete.IDSociete}) }}">
								<i class="bi bi-pen" style="margin-right:10px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('societe_delete', {'IDSociete': contact.IDSociete.IDSociete}) }}">
								<i class="bi bi-trash3"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
				{% for activite in activites %}
					{{ dump(activites) }}
					<tr>
						<td>{{ activite.IDSociete.IDSociete }}</td>
						{% if activite.IDSociete.EtatDossier == "" %}
							<td>✖️</td>
						{% else %}
							<td>{{ activite.IDSociete.EtatDossier }}</td>
						{% endif %}
						<td>{{ activite.IDSociete.NumJAL }}</td>
						<td>{{ activite.IDSociete.VendeurRaisonSociale }}</td>
						<td>{{ activite.IDSociete.VendeurCP }}</td>
						<td>{{ activite.IDSociete.AcheteurRaisonSociale }}</td>
						<td>{{ activite.IDSociete.AcheteurCP }}</td>
						<td>
							<a class="text-decoration-underline-remove" href="{{ path('societe_show', {'IDSociete': activite.IDSociete.IDSociete}) }}">
								<i class="bi bi-eye" style="margin-right:15px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('societe_edit', {'IDSociete': activite.IDSociete.IDSociete}) }}">
								<i class="bi bi-pen" style="margin-right:10px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('societe_delete', {'IDSociete': activite.IDSociete.IDSociete}) }}">
								<i class="bi bi-trash3"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
