{% extends 'base.html.twig' %}

{% block title %}Societe
{% endblock %}

{% block body %}
	<div class="float-end">
		<button class="btn btn-light no-print" type="button">
			<a class=" text-decoration-underline-remove" href="{{ path('societe_edit', {'IDSociete': societe.IDSociete}) }}">Modifier la société</a>
		</button>
		<button class="btn btn-light no-print" type="button" onclick="printSociete(); ">
			<a class=" text-decoration-underline-remove">Imprimer</a>
		</button>
	</div>
	<form>
		<div class="form-group row">
			<div class="col-sm-10 fw-bold">
				<spam>Référence :</spam>
				{{ societe.IDSociete}}
			</div>
			<div class="col-sm-10 fw-bold">
				<spam>Date de Creation :</spam>
				{{ societe.DateCreation |date("d/m/Y")}}
			</div>
			<div class="col-sm-10 fw-bold">
				<spam>Date de Modification :</spam>
				{{ societe.DateModification |date("d/m/Y") }}
			</div>
		</div>
	</form>
	<br>

	<ul class="nav nav-tabs navigationMenu" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab" tabindex="-1">Général</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active show" id="home" role="tabpanel">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Informations générales
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<form>
								<div class="form-group row">
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Etat dossier</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.EtatDossier }}" readonly="">
									</div>

									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">
											Responsable
										</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.Responsable }}" readonly="">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Origine contact</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.OrigineContact }}" readonly="">
									</div>

									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">
											Edition
										</label>
										<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.DateEditionJournal ? societe.DateEditionJournal|date('Y-m-d') : '' }}" readonly="">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Renseignements société venderesse
						</button>
					</h2>
					<div id="collapseTwo" style="padding:2%" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
						<form>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Raison sociale</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurRaisonSociale }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Adresse</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurAdresse }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Email</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurEmail }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">CP</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurCP }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Ville</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurVille }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Pays</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurPays }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Téléphone</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurTelephoneSociete }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Fax</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurFaxSociete }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">RCS</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurRCS }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Capital</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurCapital }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Nom du dirigeant</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurNomDirigeant }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Tel Perso</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurTelPerso }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Portable</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurTelPortable }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Date Naissance</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurDateNaissance ? societe.VendeurDateNaissance|date('Y-m-d') : '' }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">
										Activité</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.ActiviteFdsCommerce}}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">
										Adresse du fonds</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurAdresseFondsVendu}}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Date acte cession</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.DateActeCession ? societe.DateActeCession|date('Y-m-d') : '' }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Prix de vente</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.PrixVente}}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Trésorerie</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.Tresorerie}}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Immobilier</label>
									<textarea class="form-control" id="exampleTextarea" rows="3" readonly="">{{ societe.Immobilier }}</textarea>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Report déficitaires</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.ReportDeficitaire}}" readonly="">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Renseignements société acheteuse
						</button>
					</h2>
					<div id="collapseThree" style="padding:2%" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">

						<div class="form-group row">
							<div class="col-md-6 mb-3">
								<label for="readOnlyInput">
									Raison sociale</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurRaisonSociale}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6 mb-3">
								<label for="readOnlyInput">
									Adresse</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurAdresse}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									CP</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurCP}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Ville</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurVille}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Pays</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurPays}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Téléphone</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurTelephone}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Fax</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurFax}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									RCS</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurRCS}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Capital</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurCapital}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Nom du dirigent</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurNomDirigeant}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Portable</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurTelPortable}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Date naissance</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurDateNaissance ? societe.AcheteurDateNaissance|date('Y-m-d') : '' }}" readonly="">
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>

		<br>
		<br>
		<div class="float-end ">
			<button class="btn btn-light no-print" type="button">
				<a class=" text-decoration-underline-remove" href="{{ path('societes') }}">Retourner à la liste</a>
			</button>

		</div>
	</div>
	<br>
{% endblock %}
