{% extends 'base.html.twig' %}

{% block title %}Societe
{% endblock %}

{% block body %}
	<div class="float-end">
		<button class="btn btn-light no-print" type="button">
			<a class=" text-decoration-underline-remove" href="{{ path('societe_edit', {'IDSociete': societe.IDSociete}) }}">Modifier la société</a>
		</button>
		<button class="btn btn-light no-print" type="button" onclick="printSociete(); ">
			<a class=" text-decoration-underline-remove">Imprimer</a>
		</button>
	</div>
	<form>
		<div class="form-group row">
			<label for="readOnlyInput" class="col-sm-2 col-form-label fw-bold">Référence :
			</label>
			<div class="col-sm-10">
				<input type="text" readonly class="form-control-plaintext fw-bold" id="staticEmail" value="{{ societe.IDSociete }}">
			</div>
		</div>
	</form>

	<ul class="nav nav-tabs navigationMenu" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab" tabindex="-1">Général</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link " data-bs-toggle="tab" href="#contact" aria-selected="true" role="tab">Contacts...</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link " data-bs-toggle="tab" href="#opportunites" aria-selected="true" role="tab">Opportunités</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active show" id="home" role="tabpanel">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Informations générales
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<form>
								<div class="form-group row">
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Etat dossier</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.EtatDossier }}" readonly="">
									</div>

									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">
											Responsable
										</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.Responsable }}" readonly="">
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Origine contact</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.OrigineContact }}" readonly="">
									</div>

									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">
											Edition
										</label>
										<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.DateEditionJournal ? societe.DateEditionJournal|date('Y-m-d') : '' }}" readonly="">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Renseignements société venderesse
						</button>
					</h2>
					<div id="collapseTwo" style="padding:2%" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
						<form>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Raison sociale</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurRaisonSociale }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Adresse</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurAdresse }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Email</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurEmail }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">CP</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurCP }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Ville</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurVille }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Pays</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurPays }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Téléphone</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurTelephoneSociete }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Fax</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurFaxSociete }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">RCS</label>
									<input class="form-control " id="readOnlyInput" type="text" placeholder="{{ societe.VendeurRCS }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Capital</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurCapital }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Nom du dirigeant</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurNomDirigeant }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Tel Perso</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurTelPerso }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Portable</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurTelPortable }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Date Naissance</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurDateNaissance ? societe.VendeurDateNaissance|date('Y-m-d') : '' }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">
										Activité</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.ActiviteFdsCommerce}}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">
										Adresse du fonds</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.VendeurAdresseFondsVendu}}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Date acte cession</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.DateActeCession ? societe.DateActeCession|date('Y-m-d') : '' }}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Prix de vente</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.PrixVente}}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Trésorerie</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.Tresorerie}}" readonly="">
								</div>

								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Immobilier</label>
									<textarea class="form-control" id="exampleTextarea" rows="3" readonly="">{{ societe.Immobilier }}</textarea>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">
										Report déficitaires</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.ReportDeficitaire}}" readonly="">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Renseignements société acheteuse
						</button>
					</h2>
					<div id="collapseThree" style="padding:2%" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">

						<div class="form-group row">
							<div class="col-md-6 mb-3">
								<label for="readOnlyInput">
									Raison sociale</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurRaisonSociale}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-6 mb-3">
								<label for="readOnlyInput">
									Adresse</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurAdresse}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									CP</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurCP}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Ville</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurVille}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Pays</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurPays}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Téléphone</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurTelephone}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Fax</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurFax}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									RCS</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurRCS}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Capital</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurCapital}}" readonly="">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Nom du dirigent</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurNomDirigeant}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Portable</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurTelPortable}}" readonly="">
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">
									Date naissance</label>
								<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ societe.AcheteurDateNaissance ? societe.AcheteurDateNaissance|date('Y-m-d') : '' }}" readonly="">
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="contact" role="tabpanel">
			<table id="tableContact" data-pagination="true" data-toolbar="#toolbarContact" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">
				<thead>
					<tr>
						<th data-field="id" data-sortable="true" scope="col">ID</th>
						<th data-field="nom" data-sortable="true" scope="col">Nom</th>
						<th data-field="prenom" data-sortable="true" scope="col">Prenom</th>
						<th data-field="telephone" data-sortable="true" scope="col">Téléphone</th>
						<th data-field="telPor" data-sortable="true" scope="col">Téléphone Portable</th>
						<th data-field="adresse" data-sortable="true" scope="col">Adresse</th>
						<th data-field="cp" data-sortable="true" scope="col">CP</th>
						<th data-field="ville" data-sortable="true" scope="col">Ville</th>
						<th data-field="action" class="no-print">Actions</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<h3 class="d-none text-center">Contacts</h3>
					{% for contact in contacts %}
						<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': contact.IDSociete.IDOpportunite}) }}">
							<td>{{ contact.IDSociete.IDContact }}</td>
							<td>{{ contact.IDSociete.Nom }}</td>
							<td>{{ contact.IDSociete.Prenom }}</td>
							<td>{{ contact.IDSociete.Telephone }}</td>
							<td>{{ contact.IDSociete.TelephonePortable }}</td>
							<td>{{ contact.IDSociete.Adresse }}</td>
							<td>{{ contact.IDSociete.CP }}</td>
							<td>{{ contact.IDSociete.Ville }}</td>
							<td class="no-print">
								<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': contact.IDSociete.IDOpportunite}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': contact.IDSociete.IDOpportunite}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': contact.IDSociete.IDOpportunite}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="opportunites" role="tabpanel">
			<table id="tableOpportunite" data-pagination="true" data-toolbar="#toolbarOpportunite" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">
				<thead>
					<tr>
						<th data-field="date" data-sortable="true" scope="col">Date</th>
						<th data-field="societe" data-sortable="true" scope="col">Société</th>
						<th data-field="commentaire" data-sortable="true" scope="col">Commentaire</th>
						<th data-field="action" class="no-print">Actions</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<h3 class="d-none text-center">Opportunités</h3>
					{% for opportunite in opportunites %}

						<tr class='clickable-row' data-href="{{ path('opportunite_show', {'IDContact': opportunite.IDOpportunite}) }}">
							<td>{{ opportunite.Date|date('d-m-Y') }}</td>
							<td>{{ opportunite.SocieteConcernee }}</td>
							<td>{{ opportunite.Commentaire }}</td>
							<td class="no-print">
								<a class="text-decoration-underline-remove" href="{{ path('opportunite_show', {'IDContact': opportunite.IDOpportunite}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('opportunite_edit', {'IDContact': opportunite.IDOpportunite}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('opportunite_delete', {'IDContact': opportunite.IDOpportunite}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<br>
	<div class="float-end ">
		<button class="btn btn-light no-print" type="button">
			<a class=" text-decoration-underline-remove" href="{{ path('societes') }}">Retourner à la liste</a>
		</button>

	</div>
	<br>
{% endblock %}
