{% extends 'base.html.twig' %}

{% block title %}Type de Voie
{% endblock %}

{% block body %}
	<h1>Type de Voie</h1>
	<button id="toolbar" class="btn btn-l btn-light no-print me-2 mb-2 mr-5" type="button">
		<a href="{{ path('type_voie_new') }}">
			<i class="bi bi-file-earmark-plus"></i>
		</a>
	</button>
	<br>
	{# <table class="table"> #}
	<table style="width:70%" data-pagination="true" data-toolbar="#toolbar" data-page-size="15" data-search="true" data-show-export="false" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="false" data-show-print="false" class="table table-list table-bordered table-striped m-auto">
		<thead>
			<tr>
				<th>IDTypeVoie</th>
				<th>Libelle</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for type_voie in type_voies %}
				<tr>
					<td>{{ type_voie.IDTypeVoie }}</td>
					<td>{{ type_voie.Libelle }}</td>
					<td>
						{# <a href="{{ path('type_voie_show', {'IDTypeVoie': type_voie.IDTypeVoie}) }}">
																																																																																																																																																							<i class="bi bi-eye" style="margin-right:15px"></i>
																																																																																																																																																						</a> #}
						<a href="{{ path('type_voie_edit', {'IDTypeVoie': type_voie.IDTypeVoie}) }}">
							<i class="bi bi-pen" style="margin-right:10px"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
