{% extends 'base.html.twig' %}

{% block title %}
	Projet Immo | Immeubles
{% endblock %}

{% block body %}
	<section class="section-immeuble">
		<h1>Immeubles</h1>
		<div
			class="row">
			<!-- Immeuble -->
			<div id="toolbar" class="me-4 mb-3">
				<button id="advancedSearch" class="btn btn-light">
					<a href="#" class="text-decoration-none">
						<i class="fa-brands fa-searchengin"></i>
						Recherche Avancée</a>
				</button>
				<select class="form-control mt-3">
					<option value="">Export Basique</option>
					<option value="all">Exporter Tout</option>
					<option value="selected">Exporter Séléctionnés</option>
				</select>
			</div>
			<table id="table" data-toolbar="#toolbar" data-pagination="true" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="true" class="table table-list table-bordered table-striped m-auto">
				<thead>
					<tr>
						<th data-field="id" data-sortable="true" scope="col">N°</th>
						<th data-field="adresse" data-sortable="true" scope="col">Adresse</th>
						<th data-field="cp" data-sortable="true" scope="col">CP</th>
						<th data-field="ville" data-sortable="true" scope="col">Ville</th>
						<th data-field="refProprio" data-sortable="true" scope="col">Référence Propriétaire</th>
						<th data-field="date" data-sortable="true" scope="col">Date de l'Enquête</th>
						<th data-field="intermediaire" data-sortable="true" scope="col">Intermédiaire</th>
						<th data-field="suiviPar" data-sortable="true" scope="col">Responsable du Dossier</th>
						<th data-field="description" data-sortable="true" scope="col">Description</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% for immeuble in immeubles %}
						<tr>
							<th></th>
							<th>{{ immeuble.IDImmeuble }}</th>
							<th>{{ immeuble.Adresse }}</th>
							<th>{{ immeuble.CP }}</th>
							<th>{{ immeuble.Ville }}</th>
							<th>{{ immeuble.ReferenceProprio }}</th>
							<th>{{ immeuble.DateEnquete|date("d/m/Y") }}</th>
							<th>{{ immeuble.Intermediaire }}</th>
							<th>{{ immeuble.SuiviPar }}</th>
							<th>{{ immeuble.Description }}</th>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock body %}
