{% extends 'base.html.twig' %}

{% block title %}SuiviPar
{% endblock %}

{% block body %}
	<h1>SuiviPar</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>IDSuiviPar</th>
				<td>{{ suivi_par.IDSuiviPar }}</td>
			</tr>
			<tr>
				<th>Libelle</th>
				<td>{{ suivi_par.Libelle }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('suivis_par') }}">back to list</a>

	<a href="{{ path('suivi_par_edit', {'IDSuiviPar': suivi_par.IDSuiviPar}) }}">edit</a>

	{{ include('suivi_par/_delete_form.html.twig') }}
{% endblock %}
