{% extends 'base.html.twig' %}

{% block title %}Fonction index
{% endblock %}

{% block body %}
	<h1>Fonction index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>IDFonction</th>
				<th>Libelle</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for fonction in fonctions %}
				<tr>
					<td>{{ fonction.IDFonction }}</td>
					<td>{{ fonction.Libelle }}</td>
					<td>
						<a href="{{ path('fonction_show', {'IDFonction': fonction.IDFonction}) }}">show</a>
						<a href="{{ path('fonction_edit', {'IDFonction': fonction.IDFonction}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('fonction_new') }}">Create new</a>
{% endblock %}
