{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active show" id="home" role="tabpanel">
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Situation
					</button>
				</h2>
				<div id="collapseOne" style="padding:2%" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
					<div class="accordion-body">
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">ID Immeuble</label>
								{{ form_widget(form.IDImmeuble) }}
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">N° Principal</label>
								{{ form_widget(form.NumPrincipal) }}
							</div>

							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">N° Secondaire</label>
								{{ form_widget(form.NumSecondaire) }}
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">Adresse</label>
								{{ form_widget(form.Adresse) }}
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">Adresse Principale</label>
								{{ form_widget(form.AdressePrincipale) }}
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">Type Voie</label>
								{{ form_widget(form.TypeVoie) }}
							</div>

							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">CP</label>
								{{ form_widget(form.CP) }}
							</div>
							<div class="col-md-4 mb-3">
								<label for="readOnlyInput">Ville</label>
								{{ form_widget(form.Ville) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="float-end ">
	<button class="btn btn-light " type="button">
		<a class=" text-decoration-underline-remove" href="{{ path('adresses') }}">Retourner à la liste</a>
	</button>
	<button class="btn btn-light">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
