{% extends 'base.html.twig' %}

{% block title %}
	Projet Immo | Contacts
{% endblock %}

{% block body %}
	<section class="section-contact">
		<h1 class="text-center">Contacts</h1>
		<div
			class="row">
			<!-- Contact -->
			<div id="toolbarContact" style="display:none">
				<button class="btn btn-light no-print me-2" type="button">
					<a href="{{ path('contact_new') }}">
						<i class="bi bi-file-earmark-plus"></i>
					</a>
				</button>
				<button id="advancedSearchImmeuble" class="btn btn-light no-print me-2">
					<a href="{{ path('contact_search') }}" class="text-decoration-none">
						<i class="fa-brands fa-searchengin"></i>
						Recherche Avancée</a>
				</button>
				<div class="form-horizontal float-right  me-2">
					<select class="form-control mr-2">
						<option value="">Export Basique</option>
						<option value="all">Exporter Tout</option>
						<option value="selected">Exporter Séléctionnés</option>
					</select>
				</div>
			</div>
			<script>
				setTimeout(() => {
const box = document.getElementById('toolbarContact');
box.style.display = 'block';

}, 400);
			</script>
			<table id="tableContact" data-pagination="true" data-toolbar="#toolbarContact" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-locale="fr-FR" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">
				<thead>
					<tr>
						<th data-sortable="true" data-field="id" data-sortable="true">ID Contact</th>
						<th data-sortable="true" data-field="nom">Nom</th>
						<th data-sortable="true" data-field="prenom">Prenom</th>
						<th data-sortable="true" data-field="tel">Telephone</th>
						<th data-sortable="true" data-field="telPor">Telephone Portable</th>
						<th data-sortable="true" data-field="adresse">Adresse</th>
						<th data-sortable="true" data-field="cp">CP</th>
						<th data-sortable="true" data-field="ville">Ville</th>
						<th data-field="action">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for contact in contacts %}
						<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': contact.IDContact}) }}">
							<td>{{ contact.IDContact }}</td>
							<td>{{ contact.Nom }}</td>
							<td>{{ contact.Prenom }}</td>
							<td>{{ contact.Telephone }}</td>
							<td>{{ contact.TelephonePortable }}</td>
							<td>{{ contact.Adresse }}</td>
							<td>{{ contact.CP }}</td>
							<td>{{ contact.Ville }}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': contact.IDContact}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': contact.IDContact}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': contact.IDContact}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock body %}
