{% extends 'base.html.twig' %}

{% block title %}
	VALORIM | Contacts
{% endblock %}

{% block body %}
	<section class="section-contact">
		<h1 class="text-center">Contacts</h1>
		<div
			class="row">
			<!-- Contact -->
			<div id="toolbarContact" style="display:none">
				<button class="btn btn-light no-print me-2" type="button">
					<a href="{{ path('contact_new') }}">
						<i class="bi bi-file-earmark-plus"></i>
					</a>
				</button>
				<button id="advancedSearchImmeuble" class="btn btn-light no-print me-2">
					<a href="{{ path('contact_search') }}" class="text-decoration-none">
						<i class="fa-brands fa-searchengin"></i>
						Recherche Avancée</a>
				</button>
				<div class="form-horizontal float-right  me-2">
					<select class="form-control mr-2">
						<option value="">Export Basique</option>
						<option value="all">Exporter Tout</option>
						<option value="selected">Exporter Séléctionnés</option>
					</select>
				</div>
				{{ form_start(formSave) }}
				<div class="row">
					<div class="row form-group align-items-end">
						<div class="col-6">
							{{ form_label(formSave.nomRecherche) }}
							{{ form_widget(formSave.nomRecherche) }}
						</div>
						<div class="col-sm-4">
							{{ form_widget(formSave.searchSaved) }}
						</div>
					</div>
				</div>
				{{ form_end(formSave) }}
			</div>
			<script>
				setTimeout(() => {
const box = document.getElementById('toolbarContact');
box.style.display = 'block';

}, 400);
			</script>
			<table id="tableContact" data-pagination="true" data-toolbar="#toolbarContact" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-locale="fr-FR" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">
				<thead>
					<tr>
						<th></th>
						<th data-field="ligne">N°</th>
						<th data-field="action">Actions</th>
						<th data-sortable="true" data-field="id" data-sortable="true">ID Contact</th>
						<th data-sortable="true" data-field="nom">Nom</th>
						<th data-sortable="true" data-field="prenom">Prénom</th>
						<th data-sortable="true" data-field="tel">Téléphone</th>
						<th data-sortable="true" data-field="telPor">Téléphone Portable</th>
						<th data-sortable="true" data-field="adresse">Adresse</th>
						<th data-sortable="true" data-field="cp">CP</th>
						<th data-sortable="true" data-field="ville">Ville</th>
					</tr>
				</thead>
				<tbody>
					{% for key, contact in contacts %}
						<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': contact.IDContact}) }}">
							<td></td>
							<td>{{key + 1}}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': contact.IDContact}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': contact.IDContact}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': contact.IDContact}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
							<td>{{ contact.IDContact }}</td>
							<td>{{ contact.Nom }}</td>
							<td>{{ contact.Prenom }}</td>
							<td>{{ contact.Telephone }}</td>
							<td>{{ contact.TelephonePortable }}</td>
							<td>{{ contact.Adresse }}</td>
							<td>{{ contact.CP }}</td>
							<td>{{ contact.Ville }}</td>
						</tr>
					{% endfor %}
					{% for key, activite in activites %}
						<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': activite.IDContact.IDContact}) }}">
							<td></td>
							<td>{{key + 1}}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': activite.IDContact.IDContact}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': activite.IDContact.IDContact}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': activite.IDContact.IDContact}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
							<td>{{ activite.IDContact.IDContact }}</td>
							<td>{{ activite.IDContact.Nom }}</td>
							<td>{{ activite.IDContact.Prenom }}</td>
							<td>{{ activite.IDContact.Telephone }}</td>
							<td>{{ activite.IDContact.TelephonePortable }}</td>
							<td>{{ activite.IDContact.Adresse }}</td>
							<td>{{ activite.IDContact.CP }}</td>
							<td>{{ activite.IDContact.Ville }}</td>

						</tr>
					{% endfor %}
					{% for key,immeuble in immeubles %}
						<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': immeuble.IDContact.IDContact}) }}">
							<td></td>
							<td>{{key + 1}}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': immeuble.IDContact.IDContact}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': immeuble.IDContact.IDContact}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': immeuble.IDContact.IDContact}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
							<td>{{ immeuble.IDContact.IDContact }}</td>
							<td>{{ immeuble.IDContact.Nom }}</td>
							<td>{{ immeuble.IDContact.Prenom }}</td>
							<td>{{ immeuble.IDContact.Telephone }}</td>
							<td>{{ immeuble.IDContact.TelephonePortable }}</td>
							<td>{{ immeuble.IDContact.Adresse }}</td>
							<td>{{ immeuble.IDContact.CP }}</td>
							<td>{{ immeuble.IDContact.Ville }}</td>

						</tr>
					{% endfor %}
					{% for key, adresse in adresses %}
						<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': adresse.IDContact}) }}">
							<td></td>
							<td>{{key + 1}}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': adresse.IDContact}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': adresse.IDContact}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': adresse.IDContact}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
							<td>{{ adresse.IDContact }}</td>
							<td>{{ adresse.Nom }}</td>
							<td>{{ adresse.Prenom }}</td>
							<td>{{ adresse.Telephone }}</td>
							<td>{{ adresse.TelephonePortable }}</td>
							<td>{{ adresse.Adresse }}</td>
							<td>{{ adresse.CP }}</td>
							<td>{{ adresse.Ville }}</td>

						</tr>
					{% endfor %}
					{% for key, societe in societes %}
						<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': societe.IDContact.IDContact}) }}">
							<td></td>
							<td>{{key + 1}}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': societe.IDContact.IDContact}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': societe.IDContact.IDContact}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': societe.IDContact.IDContact}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
							<td>{{ societe.IDContact.IDContact }}</td>
							<td>{{ societe.IDContact.Nom }}</td>
							<td>{{ societe.IDContact.Prenom }}</td>
							<td>{{ societe.IDContact.Telephone }}</td>
							<td>{{ societe.IDContact.TelephonePortable }}</td>
							<td>{{ societe.IDContact.Adresse }}</td>
							<td>{{ societe.IDContact.CP }}</td>
							<td>{{ societe.IDContact.Ville }}</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
{% endblock body %}
