{% extends 'base.html.twig' %}

{% block title %}Gestion des Immeubles | Recherche Contact
{% endblock %}

{% block body %}
	{# {{ dump(queryRefProprio) }} #}
	<div class="row">
		{% include 'shared/_formsearchContact.html.twig' with {form: form} %}
	</div>
	<div class="row mt-5">
		<div id="toolbarContactSearch" class="me-4 mb-3">
			<button class="btn btn-light no-print me-2" type="button">
				<a href="{{ path('contact_new') }}">
					<i class="bi bi-file-earmark-plus"></i>
				</a>
			</button>
			<div class="form-horizontal float-right me-2">
				<select class="form-control mr-2">
					<option value="">Export Basique</option>
					<option value="all">Exporter Tout</option>
					<option value="selected">Exporter Séléctionnés</option>
				</select>
			</div>
		</div>
		<table id="tableContactSearch" data-pagination="true" data-toolbar="#toolbarContactSearch" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">
			<thead>
				<tr>
					<th data-field="ligne">N°</th>
					<th data-field="ligne">N°</th>
					<th data-field="action" class="no-print">Actions</th>
					<th data-sortable="true" data-field="id">ID Contact</th>
					<th data-sortable="true" data-field="nom">Nom</th>
					<th data-sortable="true" data-field="prenom">Prénom</th>
					<th data-sortable="true" data-field="tel">Téléphone</th>
					<th data-sortable="true" data-field="telPor">Téléphone Portable</th>
					<th data-sortable="true" data-field="adresse">Adresse</th>
					<th data-sortable="true" data-field="cp">CP</th>
					<th data-sortable="true" data-field="ville">Ville</th>
					<th data-field="dcd">DCD</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				{% for key, contact in contacts %}
					<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': contact.IDContact}) }}">
						<td></td>
						<td>{{key + 1}}</td>
						<td class="no-print">
							<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': contact.IDContact}) }}">
								<i class="bi bi-eye" style="margin-right:15px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': contact.IDContact}) }}">
								<i class="bi bi-pen" style="margin-right:10px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': contact.IDContact}) }}">
								<i class="bi bi-trash3"></i>
							</a>
						</td>
						<td>{{ contact.IDContact }}</td>
						<td>{{ contact.Nom }}</td>
						<td>{{ contact.Prenom }}</td>
						<td>{{ contact.Telephone }}</td>
						<td>{{ contact.TelephonePortable }}</td>
						<td>{{ contact.Adresse }}</td>
						<td>{{ contact.CP }}</td>
						<td>{{ contact.Ville }}</td>
						<td>{{ contact.DCD }}</td>

					</tr>
				{% endfor %}

				{% for key, activite in activites %}
					<tr class='clickable-row' data-href="{{ path('contact_show', {'IDActivite': activite.IDContact.IDContact}) }}">
						<td>{{key + 1}}</td>
						<td class="no-print">
							<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDActivite': activite.IDContact.IDContact}) }}">
								<i class="bi bi-eye" style="margin-right:15px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDActivite': activite.IDContact.IDContact}) }}">
								<i class="bi bi-pen" style="margin-right:10px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('activite_delete', {'IDActivite': activite.IDContact.IDContact}) }}">
								<i class="bi bi-trash3"></i>
							</a>
						</td>
						<td>{{ activite.IDContact.IDContact }}</td>
						<td>{{ activite.IDContact.Nom }}</td>
						<td>{{ activite.IDContact.Prenom }}</td>
						<td>{{ activite.IDContact.Telephone }}</td>
						<td>{{ activite.IDContact.TelephonePortable }}</td>
						<td>{{ activite.IDContact.Adresse }}</td>
						<td>{{ activite.IDContact.CP }}</td>
						<td>{{ activite.IDContact.Ville }}</td>
						<td>{{ activite.IDContact.DCD }}</td>

					</tr>
				{% endfor %}

				{% for key, immeubleContact in immeublesContacts %}
					<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': immeubleContact.IDContact.IDContact}) }}">
						<td>{{key + 1}}</td>
						<td class="no-print">
							<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': immeubleContact.IDContact.IDContact}) }}">
								<i class="bi bi-eye" style="margin-right:15px"></i>
							</a>
							<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': immeubleContact.IDContact.IDContact}) }}">
								<i class="bi bi-pen" style="margin-right:10px"></i>
							</a>
							<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': immeubleContact.IDContact.IDContact}) }}">
								<i class="bi bi-trash3"></i>
							</a>
						</td>
						<td>{{ immeubleContact.IDContact.IDContact }}</td>
						<td>{{ immeubleContact.IDContact.Nom }}</td>
						<td>{{ immeubleContact.IDContact.Prenom }}</td>
						<td>{{ immeubleContact.IDContact.Telephone }}</td>
						<td>{{ immeubleContact.IDContact.TelephonePortable }}</td>
						<td>{{ immeubleContact.IDContact.Adresse }}</td>
						<td>{{ immeubleContact.IDContact.CP }}</td>
						<td>{{ immeubleContact.IDContact.Ville }}</td>
						<td>{{ immeubleContact.IDContact.DCD }}</td>

					</tr>
				{% endfor %}

				{% for key, adresse in adresses %}
					<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': adresse.IDContact}) }}">
						<td>{{key + 1}}</td>
						<td class="no-print">
							<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': adresse.IDContact}) }}">
								<i class="bi bi-eye" style="margin-right:15px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': adresse.IDContact}) }}">
								<i class="bi bi-pen" style="margin-right:10px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': adresse.IDContact}) }}">
								<i class="bi bi-trash3"></i>
							</a>
						</td>
						<td>{{ adresse.IDContact }}</td>
						<td>{{ adresse.Nom }}</td>
						<td>{{ adresse.Prenom }}</td>
						<td>{{ adresse.Telephone }}</td>
						<td>{{ adresse.TelephonePortable }}</td>
						<td>{{ adresse.Adresse }}</td>
						<td>{{ adresse.CP }}</td>
						<td>{{ adresse.Ville }}</td>
						<td>{{ adresse.DCD }}</td>

					</tr>
				{% endfor %}
				{% for key, societe in societes %}
					<tr class='clickable-row' data-href="{{ path('contact_show', {'IDContact': societe.IDContact.IDContact}) }}">
						<td>{{key + 1}}</td>
						<td class="no-print">
							<a class="text-decoration-underline-remove" href="{{ path('contact_show', {'IDContact': societe.IDContact.IDContact}) }}">
								<i class="bi bi-eye" style="margin-right:15px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': societe.IDContact.IDContact}) }}">
								<i class="bi bi-pen" style="margin-right:10px"></i>
							</a>

							<a class="text-decoration-underline-remove" href="{{ path('contact_delete', {'IDContact': societe.IDContact.IDContact}) }}">
								<i class="bi bi-trash3"></i>
							</a>
						</td>
						<td>{{ societe.IDContact.IDContact }}</td>
						<td>{{ societe.IDContact.Nom }}</td>
						<td>{{ societe.IDContact.Prenom }}</td>
						<td>{{ societe.IDContact.Telephone }}</td>
						<td>{{ societe.IDContact.TelephonePortable }}</td>
						<td>{{ societe.IDContact.Adresse }}</td>
						<td>{{ societe.IDContact.CP }}</td>
						<td>{{ societe.IDContact.Ville }}</td>
						<td>{{ societe.IDContact.DCD }}</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
