{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="float-end">
		<button class="btn btn-light no-print" type="button">
			<a class=" text-decoration-underline-remove" href="{{ path('contact_edit', {'IDContact': contact.IDContact}) }}">edit</a>
		</button>
		<button class="btn btn-light no-printbtn-lg no-print" type="button" onclick="printContact(); ">
			<a class="nav-link">Print</a>
		</button>
	</div>
	<h1 style="margin-top: -2px; border-radius: 5px;" class="mt-5 text-center text-white">{{ contact.Nom }}</h1>

	<ul class="nav nav-tabs navigationMenu" role="tablist">
		<li class="nav-item" role="presentation">
			<a class="nav-link active" data-bs-toggle="tab" href="#general" aria-selected="true" role="tab" tabindex="-1">Général</a>
		</li>
		{# <li class="nav-item" role="presentation">
																																							<a class="nav-link " data-bs-toggle="tab" href="#activites" aria-selected="true" role="tab">Activités</a>
																																						</li> #}
		<li class="nav-item" role="presentation">
			<a class="nav-link " data-bs-toggle="tab" href="#immeubles" aria-selected="true" role="tab">Immeubles</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link " data-bs-toggle="tab" href="#opportunites" aria-selected="true" role="tab">Opportunités</a>
		</li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active show" id="general" role="tabpanel">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Renseignements généraux
						</button>
					</h2>
					<div id="collapseOne" style="padding:2%" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
						<div class="accordion-body">
							<form>
								<div class="form-group row">
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Civilité</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Civilite }}" readonly="">
									</div>

									<div class="col-md-4 mb-3">
										<label for="flexCheckDefault">
											NPAI
										</label>
										{% if contact.NPAI == 0 %}
											<input class="form-check-input" type="checkbox" disabled="" value="{{ contact.NPAI }}" id="flexCheckDefault">
										{% elseif contact.NPAI == 1 %}
											<input class="form-check-input" type="checkbox" disabled="" value="{{ contact.NPAI }}" checked id="flexCheckDefault">
										{% endif %}
									</div>
									<div class="col-md-4 mb-3">
										<label for="flexCheckDefault">
											Décédé
										</label>
										{% if contact.DCD == 0 %}
											<input class="form-check-input" type="checkbox" disabled="" value="{{ contact.DCD }}" id="flexCheckDefault">
										{% elseif contact.DCD == 1 %}
											<input class="form-check-input" type="checkbox" disabled="" value="{{ contact.DCD }}" checked id="flexCheckDefault">
										{% endif %}
									</div>
								</div>

								<div class="form-group row">
									<div class="col-md-6 mb-3">
										<label for="readOnlyInput">Nom</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Nom }}" readonly="">
									</div>
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Prénom</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Prenom }}" readonly="">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-6 mb-3">
										<label for="readOnlyInput">Fonction</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Fonction }}" readonly="">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Fax</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Fax }}" readonly="">
									</div>
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Bureau</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.TelephoneDomicile }}" readonly="">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Portable</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.TelephonePortable }}" readonly="">
									</div>
									<div class="col-md-4 mb-3">
										<label for="readOnlyInput">Téléphone</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Telephone }}" readonly="">
									</div>
									<div class="col-md-4 mb-3">
										<label for="flexCheckDefault">
											Liste rouge
										</label>
										{% if contact.ListeRouge == 0 %}
											<input class="form-check-input" type="checkbox" disabled="" value="{{ contact.ListeRouge }}" id="flexCheckDefault">
										{% elseif contact.ListeRouge == 1 %}
											<input class="form-check-input" type="checkbox" disabled="" value="{{ contact.ListeRouge }}" checked id="flexCheckDefault">
										{% endif %}
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-6 mb-3">
										<label for="readOnlyInput">Correspondant</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Correspondant }}" readonly="">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-6 mb-3">
										<label for="readOnlyInput">Email</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Email }}" readonly="">
									</div>
								</div>
								<div class="form-group row">
									<div class="col-md-6 mb-3">
										<label for="readOnlyInput">Date naissance</label>
										<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.DateNaissance ? contact.DateNaissance|date('Y-m-d') : '' }}" readonly="">
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Renseignements société
						</button>
					</h2>
					<div id="collapseTwo" style="padding:2%" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
						<form>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Raison sociale</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Societe }}" readonly="">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Activité</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Activite }}" readonly="">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">Adresse</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Adresse }}" readonly="">
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">CP</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.CP }}" readonly="">
								</div>
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Ville</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Ville }}" readonly="">
								</div>
								<div class="col-md-4 mb-3">
									<label for="readOnlyInput">Pays</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.Pays }}" readonly="">
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-6 mb-3">
									<label for="readOnlyInput">RCS</label>
									<input class="form-control" id="readOnlyInput" type="text" placeholder="{{ contact.RCS }}" readonly="">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Commentaire
						</button>
					</h2>
					<div id="collapseThree" style="padding:2%" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
						<div class="form-group row">
							<div class="col-md-12 mb-3">
								<textarea class="form-control" id="exampleTextarea" rows="3" readonly="">{{ contact.Commentaire }}</textarea>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="immeubles" role="tabpanel">
			<table id="tableImmeuble" data-pagination="true" data-toolbar="#toolbarImmeuble" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">
				<thead>
					<tr>
						<th data-field="id" data-sortable="true" scope="col">ID</th>
						<th data-field="adresse" data-sortable="true" scope="col">Adresse</th>
						<th data-field="cp" data-sortable="true" scope="col">CP</th>
						<th data-field="ville" data-sortable="true" scope="col">Ville</th>
						<th data-field="refProprio" data-sortable="true" scope="col">Réf. Propriétaire</th>
						<th data-field="dateEnquete" data-sortable="true" scope="col">Date de l'Enquête</th>
						<th data-field="intermediaire" data-sortable="true" scope="col">Intermédiaire</th>
						<th data-field="respDossier" data-sortable="true" scope="col">Resp. de Dossier</th>
						<th data-field="description" data-sortable="true" scope="col">Description</th>
						<th data-field="actions" scope="col"></th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<h3 class="d-none text-center">Immeubles</h3>
					{% for immeuble in immeubles %}

						<tr class='clickable-row' data-href="{{ path('immeuble_show', {'IDImmeuble': immeuble.IDImmeuble.IDImmeuble}) }}">
							<td>{{ immeuble.IDImmeuble.IDImmeuble }}</td>
							<td>{{ immeuble.IDImmeuble.Adresse }}</td>
							<td>{{ immeuble.IDImmeuble.CP }}</td>
							<td>{{ immeuble.IDImmeuble.Ville }}</td>
							<td>{{ immeuble.IDImmeuble.ReferenceProprio }}</td>
							<td>{{ immeuble.IDImmeuble.DateEnquete|date('d-m-Y') }}</td>
							<td>{{ immeuble.IDImmeuble.Intermediaire }}</td>
							<td>{{ immeuble.IDImmeuble.SuiviPar }}</td>
							<td>{{ immeuble.IDImmeuble.Description }}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('immeuble_show', {'IDImmeuble': immeuble.IDImmeuble.IDImmeuble}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('immeuble_edit', {'IDImmeuble': immeuble.IDImmeuble.IDImmeuble}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('immeuble_delete', {'IDImmeuble': immeuble.IDImmeuble.IDImmeuble}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="opportunites" role="tabpanel">
			<table id="tableOpportunite" data-pagination="true" data-toolbar="#toolbarOpportunite" data-page-size="25" data-search="true" data-show-export="true" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="true" data-show-print="true" class="table table-list table-bordered table-striped m-auto">
				<thead>
					<tr>
						<th data-field="date" data-sortable="true" scope="col">Date</th>
						<th data-field="societe" data-sortable="true" scope="col">Société</th>
						<th data-field="commentaire" data-sortable="true" scope="col">Commentaire</th>
						<th data-field="actions" scope="col"></th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<h3 class="d-none text-center">Opportunités</h3>
					{% for opportunite in opportunites %}

						<tr class='clickable-row' data-href="{{ path('opportunite_show', {'IDOpportunite': opportunite.IDOpportunite}) }}">
							<td>{{ opportunite.Date|date('d-m-Y') }}</td>
							<td>{{ opportunite.SocieteConcernee }}</td>
							<td>{{ opportunite.Commentaire }}</td>
							<td>
								<a class="text-decoration-underline-remove" href="{{ path('opportunite_show', {'IDOpportunite': opportunite.IDOpportunite}) }}">
									<i class="bi bi-eye" style="margin-right:15px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('opportunite_edit', {'IDOpportunite': opportunite.IDOpportunite}) }}">
									<i class="bi bi-pen" style="margin-right:10px"></i>
								</a>

								<a class="text-decoration-underline-remove" href="{{ path('opportunite_delete', {'IDOpportunite': opportunite.IDOpportunite}) }}">
									<i class="bi bi-trash3"></i>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<div class="float-start">
		<button class="btn btn-light no-print" type="button">
			<a class=" text-decoration-underline-remove" href="{{ path('contacts') }}">Retourner à la liste</a>
		</button>
	</div>
	<br>
{% endblock %}
