{% extends 'base.html.twig' %}

{% block title %}Origine Contact d'Immeuble
{% endblock %}
{% block body %}
	<style>
		.fixed-table-toolbar {
			margin-left: 20% !important;
			margin-right: 20% !important;
		}
	</style>
	<h1>Origine Contact d'Immeuble</h1>
	<div id="toolbar">
		<button class="btn btn-l btn-light no-print me-2 mb-2" type="button">
			<a href="{{ path('origine_contact_immeuble_new') }}">
				<i class="bi bi-file-earmark-plus"></i>
			</a>
		</button>
	</div>
	{# <table class="table"> #}
	<table style="width:70%" data-pagination="true" data-toolbar="#toolbar" data-page-size="15" data-search="true" data-show-export="false" data-toggle="table" data-click-to-select="true" data-search-align="left" data-show-columns="false" data-show-print="false" class="table table-list table-bordered table-striped m-auto">
		<thead>
			<tr>
				<th>IDOrigineContactImmeuble</th>
				<th>Libelle</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for origine_contact_immeuble in origine_contact_immeubles %}
				<tr>
					<td>{{ origine_contact_immeuble.IDOrigineContactImmeuble }}</td>
					<td>{{ origine_contact_immeuble.Libelle }}</td>
					<td>
						{# <a href="{{ path('app_origine_contact_immeuble_show', {'IDOrigineContactImmeuble': origine_contact_immeuble.IDOrigineContactImmeuble}) }}">show</a> #}
						<a href="{{ path('origine_contact_immeuble_edit', {'IDOrigineContactImmeuble': origine_contact_immeuble.IDOrigineContactImmeuble}) }}">
							<i class="bi bi-pen" style="margin-right:10px"></i>
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# <a href="{{ path('origine_contact_immeuble_new') }}">Create new</a> #}
{% endblock %}
