<div class="flex justify-content-center  m-auto">
	{% include 'shared/_btnreturn.html.twig' %}
	<h1>Recherche Immeubles</h1>
	<div class="row">
		<div class="col-2 mt-4">
			<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action active" id="list-immeuble-list" data-toggle="list" href="#list-immeuble" role="tab" aria-controls="immeuble">Immeuble</a>
				<a class="list-group-item list-group-item-action" id="list-adresse-list" data-toggle="list" href="#list-adresse" role="tab" aria-controls="adresse">Adresse</a>
				<a class="list-group-item list-group-item-action" id="list-contact-list" data-toggle="list" href="#list-contact" role="tab" aria-controls="contact">Contact</a>
				<a class="list-group-item list-group-item-action" id="list-activite-list" data-toggle="list" href="#list-activite" role="tab" aria-controls="activite">Activite</a>
			</div>
		</div>
		<div class="col-9 card pb-2">
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-immeuble" role="tabpanel" aria-labelledby="list-immeuble-list">
					{{ form_start(form, {'attr': {'id': 'form_immeuble'}})
																																								}}
					<div class="row">
						<div class="row form-group align-items-end">
							<div class="col-6 ">
								{{ form_label(form.refProprioImmeuble) }}
								{{ form_widget(form.refProprioImmeuble) }}
							</div>
							<div class="col-6">
								{{ form_label(form.origineContact) }}
								{{ form_widget(form.origineContact) }}
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								{{ form_label(form.ncpcf) }}
								{{ form_widget(form.ncpcf) }}
							</div>
							<div class="col-6">
								{{ form_label(form.visite) }}
								{{ form_widget(form.visite) }}
							</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
							{{ form_widget(form.rechercheImmeuble) }}
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="list-adresse" role="tabpanel" aria-labelledby="list-adresse-list">
					<div class="row">
						<div class="row form-group align-items-end mt-4">
							<div class="col-6">
								{{ form_label(form.numPrincipal) }}
								{{ form_widget(form.numPrincipal) }}
							</div>
							<div class="col-6">
								{{ form_label(form.typeVoie) }}
								{{ form_widget(form.typeVoie) }}
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								{{ form_label(form.nomRue) }}
								{{ form_widget(form.nomRue) }}
							</div>
							<div
								class="col-6">{# {{ form_widget(form.adresse) }} #}
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								{{ form_label(form.cp) }}
								{{ form_widget(form.cp) }}
							</div>
							<div class="col-6">
								{{ form_label(form.ville) }}
								{{ form_widget(form.ville) }}
							</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
							{{ form_widget(form.rechercheAdresse) }}
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="list-contact" role="tabpanel">
					<div class="row">
						<div class="row align-items-end">
							<div class="col-6">
								{{ form_label(form.nomContact) }}
								{{ form_widget(form.nomContact) }}
							</div>
							<div class="col-6">
								{{ form_label(form.prenomContact) }}
								{{ form_widget(form.prenomContact) }}
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								{{ form_label(form.email) }}
								{{ form_widget(form.email) }}
							</div>
							<div class="col-6">
								{{ form_label(form.civiliteContact) }}
								{{ form_widget(form.civiliteContact) }}
							</div>
						</div>
						<div class="row">
							<div class="col-6 justify-content-center">
								{{ form_label(form.RCS) }}
								{{ form_widget(form.RCS) }}
							</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
							{{ form_widget(form.rechercheContact) }}
						</div>

					</div>
				</div>
				<div class="tab-pane fade" id="list-activite" role="tabpanel" aria-labelledby="list-activite-list">
					<div class="row">
						<div class="row align-items-end">
							<div class="col-6">
								{{ form_label(form.dateActivite) }}
								{{ form_widget(form.dateActivite) }}
							</div>
							<div class="col-6">
								{{ form_label(form.theme) }}
								{{ form_widget(form.theme) }}
							</div>
						</div>
					</div>
					<div class="col">
						<div class="form-group d-grid gap-2 d-md-flex justify-content-md-end">
							{{ form_widget(form.rechercheActivite) }}
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</div>
